8. Mean-variance frontier with market data.ipynb
9. Performance management portfolio.ipynb
10. Risk measure estimation - Gaussian approx.ipynb
11. Risk measure estimation - Historical simulation.ipynb
12. Backtesting.ipynb
Data/AAPL_20171201_5y.csv
Data/AIG_20171201_15y.csv
Data/basket_20171201_10y.csv
